.informacoes {
    font-size: 10px;
}
.postiionn {
    position: relative;
}
.btn-remove-img {
    position: absolute;
    top: 7px;
    right: 22px;
 }

 #overlay {
    width:260px;
    height:92px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-46px;
    margin-left:-130px;
    z-index: 999;
    border: 1px solid #CCC;
}