    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Vinte</b>Um</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">
                Faça login para iniciar sua sessão
            </p>
            <div class="alert alert-danger" ng-show="vm.auth.error.message" ><% vm.auth.error.message %></div>
            <form name="Form" ng-submit="vm.submit()">
                <div class="form-group has-feedback " ng-class="{ 'has-error' : Form.email.$invalid && Form.email.$touched }">
                    <input type="email" ng-model="vm.auth.email" name="email" class="form-control" placeholder="Email" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <div ng-show="Form.email.$touched && Form.email.$error.required" class="help-block">Campo email obrigatório.</div>
                    <div ng-show="Form.email.$touched && Form.email.$error.email" class="help-block">Email inválido</div>

                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : Form.password.$invalid && Form.password.$touched }">
                    <input type="password" ng-model="vm.auth.password" name="password" class="form-control" placeholder="Senha" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div ng-show="Form.password.$touched && Form.password.$error.required" class="help-block">Campo senha obrigatório.</div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" ng-disabled="Form.$invalid" class="btn btn-primary btn-block btn-flat">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>