<div class="row">
        <div class="col-md-3">
            <div class="form-group" ng-class="{ 'has-error' : Form.titulo.$invalid && Form.titulo.$touched }">
                <label>Titulo</label>
                <input type="text" maxlength="45" required ng-model="vm.imovel.titulo" class="form-control" name="titulo" id="titulo">      
                <div ng-show="Form.titulo.$touched && Form.titulo.$error.required" class="help-block">Campo obrigatório.</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group"  ng-class="{ 'has-error' : Form.imovel_tipo.$invalid && Form.imovel_tipo.$touched }">
                <label>Imóvel tipo</label>
                <select required ng-model="vm.imovel.imovel_tipo_id" id="imovel_tipo" name="imovel_tipo" class="form-control">
                    <option ng-repeat="tipo in vm.data.imovel_tipo" ng-value="tipo.id"><% tipo.descricao %></option>
                </select>      
                <div ng-show="Form.imovel_tipo.$touched && Form.imovel_tipo.$error.required" class="help-block">Campo obrigatório.</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{ 'has-error' : Form.preco.$invalid && Form.preco.$touched }">
                <label>Preço</label>
                <input type="text" ui-money-mask required ng-model="vm.imovel.preco" class="form-control" name="preco" id="preco">     
                <div ng-show="Form.preco.$touched && Form.preco.$error.required" class="help-block">Campo obrigatório.</div> 
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{ 'has-error' : Form.area.$invalid && Form.area.$touched }">
                <label>Área</label>
                <input type="text" required numbers-only ng-model="vm.imovel.area" class="form-control" name="area" id="area">
                <div ng-show="Form.area.$touched && Form.area.$error.required" class="help-block">Campo obrigatório.</div>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group" ng-class="{ 'has-error' : Form.cep.$invalid && Form.cep.$touched }">
                <label>Cep</label>
                <input cep maxlength="8" required numbers-only type="text" class="form-control" ng-model="vm.imovel.cep" name="cep" id="cep">
                <div ng-show="Form.cep.$touched && Form.cep.$error.required" class="help-block">Campo obrigatório.</div>    
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Logradouro</label>
                <input type="text" ng-model="vm.imovel.logradouro" disabled class="form-control" name="logradouro" id="logradouro">      
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group" ng-class="{ 'has-error' : Form.numero.$invalid && Form.numero.$touched }">
                <label>Número</label>
                <input type="text" required numbers-only class="form-control" ng-model="vm.imovel.numero" name="numero" id="numero">      
                <div ng-show="Form.numero.$touched && Form.numero.$error.required" class="help-block">Campo obrigatório.</div> 
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Complemento</label>
                <input type="text" class="form-control" ng-model="vm.imovel.complemento" name="complemento" id="complemento">      
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Bairro</label>
                <input type="text" disabled class="form-control" ng-model="vm.imovel.bairro" name="bairro" id="bairro">      
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Estado</label>
                <select  ng-model="vm.imovel.estado_id" class="form-control">
                    <option ng-repeat="estado in estados" ng-value="estado.codigo_ibge"><% estado.descricao %></option>
                </select>      
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Cidade</label>
                <select disabled ng-model="vm.imovel.cidade_id" class="form-control">
                    <option ng-repeat="cidade in cidades" value="<% cidade.codigo_ibge %>"><% cidade.descricao %></option>
                </select>      
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group" ng-class="{ 'has-error' : Form.dormitorios.$invalid && Form.dormitorios.$touched }">
                <label>Dormitorios</label>
                <input type="text" required numbers-only class="form-control" ng-model="vm.imovel.dormitorios" name="dormitorios" id="dormitorios">      
                <div ng-show="Form.dormitorios.$touched && Form.dormitorios.$error.required" class="help-block">Campo obrigatório.</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group" ng-class="{ 'has-error' : Form.suites.$invalid && Form.suites.$touched }">
                <label>Suítes</label>
                <input type="text" required numbers-only class="form-control" ng-model="vm.imovel.suites" name="suites" id="suites">      
                <div ng-show="Form.suites.$touched && Form.suites.$error.required" class="help-block">Campo obrigatório.</div>
            
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group" ng-class="{ 'has-error' : Form.banheiros.$invalid && Form.banheiros.$touched }">
                <label>Banheiros</label>
                <input type="text" required numbers-only class="form-control" ng-model="vm.imovel.banheiros" name="banheiros" id="banheiros">      
                <div ng-show="Form.banheiros.$touched && Form.banheiros.$error.required" class="help-block">Campo obrigatório.</div>
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group" ng-class="{ 'has-error' : Form.salas.$invalid && Form.salas.$touched }">
                <label>Salas</label>
                <input type="text" required numbers-only class="form-control" ng-model="vm.imovel.salas" name="salas" id="salas">      
                <div ng-show="Form.salas.$touched && Form.salas.$error.required" class="help-block">Campo obrigatório.</div>
            
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group" ng-class="{ 'has-error' : Form.garagem.$invalid && Form.garagem.$touched }">
                <label>Garagem</label>
                <input type="text" required numbers-only class="form-control" ng-model="vm.imovel.garagem" name="garagem" id="garagem">      
                <div ng-show="Form.garagem.$touched && Form.garagem.$error.required" class="help-block">Campo obrigatório.</div>
            
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group"  ng-class="{ 'has-error' : Form.imovel_status.$invalid && Form.imovel_status.$touched }">
                <label>Imóvel status <%  vm.imovel.imagens %></label>
                <select required ng-model="vm.imovel.imovel_status_id" id="imovel_status" name="imovel_status" class="form-control">
                    <option ng-repeat="status in vm.data.imovel_status" ng-value="status.id"><% status.descricao %></option>
                </select>      
                <div ng-show="Form.imovel_status.$touched && Form.imovel_status.$error.required" class="help-block">Campo obrigatório.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Imagens</h3>
            <input type="file" name="inputFile" ng-file-select="onFileSelect($files)" >
            <br>
            <div class="row">
                <div class="col-md-2"  ng-repeat="image in vm.imovel.images track by $index" class="postiionn">
                    
                    <img ng-src="<% image.descricao %>" class="img-thumbnail">
                    <button type="button" class="btn btn-default btn-sm btn-remove-img" ng-click="vm.removeImg($index)"> 
                        <i class="fa fa-fw fa-close"></i>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
