<!-- Content Header (Page header) -->
<section class="content-header">
        <h1>
                Imóveis
            <small>Cadastro de imóveis</small>
        </h1>
        <ol class="breadcrumb">
                <li><a href="#!/imoveis"><i class="fa fa-dashboard"></i> Imóveis</a></li>
                <li class="active">Cadastro</li>
              </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Cadastrar imóvel</h3>
            </div>
            <form ng-submit="vm.cadastrar();" name="Form" novalidate>
                <div class="box-body">
                    <ng-include src="'/views/imoveis/_form.html'"></ng-include>
                </div>
                <div class="box-footer">
                    <div class="btn-toolbar">
                        <button type="submit" ng-disabled="Form.$invalid" class="btn btn-primary">Cadastrar</button>
                    </div>
    
                </div>
            </form>
            <!-- /.box-body -->
        </div>
    </section>