<!-- Content Header (Page header) -->
<section class="content-header">
        <h1>
                Imóveis
            <small>Importar imóveis</small>
        </h1>
        <ol class="breadcrumb">
                <li><a href="#!/imoveis"><i class="fa fa-dashboard"></i> Imóveis</a></li>
                <li class="active">Importar</li>
              </ol>
    </section>
    <!-- Main content -->

    <section class="content">
        <!-- Your Page Content Here -->
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Importar imóvel</h3>
            </div>
            <form ng-submit="vm.importar();" name="Form" novalidate>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group" ng-class="{ 'has-error' : Form.arquivo.$invalid && Form.arquivo.$touched }">
                                <label>Selecionar Xml</label>
                                <input type="file" name="arquivo" id="arquivo" required accept="text/xml" >  
                                <div ng-show="Form.arquivo.$touched && Form.arquivo.$error.required" class="help-block">Campo obrigatório.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="btn-toolbar">
                        <button type="submit" ng-disabled="Form.$invalid" class="btn btn-primary">Importar</button>
                    </div>
    
                </div>
            </form>
            <!-- /.box-body -->
        </div>
    </section>