 <!-- Content Header (Page header) -->
 <section class="content-header" ng-init="vm.getImoveis(1)">
    <h1>
      Imóveis
    </h1>
    <ol class="breadcrumb">
      <li><a href="#!/imoveis"><i class="fa fa-dashboard"></i> Imóveis</a></li>
      <li class="active">Listagem</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
                <div class="box box-default color-palette-box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-search"></i> Pesquisar</h3>
                            <div class="box-tools">
                                <a href="#!/imoveis/create" class="btn btn-default btn-sm"><i class="fa fa-fw fa-plus"></i> Adicionar imóvel</a>
                            </div>
                        </div>
                        <div class="box-body">
                
                            <div class="row">
                                <div class="col-md-12">
                                    <form ng-submit="vm.buscarPorId(vm.paginate.current_page);">
                                        <div class="input-group margin">
                                            <input type="text" class="form-control" value="" name="search" ng-model="vm.idbuscar" placeholder="Digite o id/código do imovel que deseja buscar">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-info btn-flat"><i class="fa fa-search"></i> Pesquisa</button>
                                                </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>                
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-list"></i> Listagem de imóveis</h3>
          </div>
          <div class="box-body">
            <table class="table table-striped table-hover">
              <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Titulo</th>
                <th>Preço</th>
                <th>Cidade</th>
                <th>Garagem</th>
                <th>Info.</th>
                <th>Opções</th>
              </tr>
              <tr ng-repeat="imovel in vm.imoveis track by $index">
                <td><% imovel.id %></td>
                <td><% imovel.imovel_tipo.descricao %></td>
                <td><% imovel.titulo %></td>
                <td><% imovel.preco | currency:"R$"%></td>
                <td><% imovel.cidade.descricao %> - <% imovel.cidade.estado.sigla %></td>
                <td><% imovel.garagem %></td>
                <td class="informacoes">
                    Dormitórios: <% imovel.dormitorios %><br>
                    Suítes: <% imovel.suites %><br>
                    Banheiros: <% imovel.banheiros %>
                </td>
                <td>
                        <a href="#!/imoveis/<% imovel.id %>/edit"  class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></a>
                        <a href="javascript:void(0);" ng-click="vm.deletarImovel(imovel);" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></a>
                </td>
                
              </tr>
            </table>
          </div>
          <div class="box-footer clearfix" ng-if="vm.paginate.total > vm.paginate.per_page">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li ng-show="vm.paginate.current_page > 1"><a href="javascript:void(0);" ng-click="vm.getImoveis(vm.paginate.current_page - 1)">«</a></li>
                  <li class="disabled" ng-show="vm.paginate.current_page == 1"><a href="javascript:void(0);">«</a></li>
                  <li ng-repeat="i in getNumber(vm.paginate.last_page) track by $index" ng-class="{'active' : vm.paginate.current_page == $index+1}"><a href="javascript:void(0);" ng-click="vm.getImoveis($index+1)"><% $index+1 %></a></li>
                  <li ng-show="vm.paginate.current_page < vm.paginate.last_page"><a href="javascript:void(0);" ng-click="vm.getImoveis(vm.paginate.current_page + 1)">»</a></li>
                  <li class="disabled" ng-show="vm.paginate.current_page >= vm.paginate.last_page"><a href="javascript:void(0);">»</a></li>
                </ul>
              </div>
        </div>
      </div>
    </div>


    

  </section>
  <!-- /.content -->